*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.urn{
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
  margin-top: 50px;
}

.screen{
  width: 500px;
  max-height: 345px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);

  border: 2px solid #555;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.keyboard{
  background-color: #403a3a;
}

.line-keyboard{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-keyboard{
  width: 70px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0 #555;
}

.btn-white{
  background-color: #fff;
  color: black;
  font-size: 15px;
}

.btn-correct{
  background-color: #F09046;
  color: #000;
  font-size: 15px;
}

.btn-confirm{
  background-color: #48c079;
  color: #000;
  font-size: 15px;
  width: 90px;
  height: 50px;
}

.part-1{
  flex: 1;
  display: flex;
}

.part-1-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.part-1-1{
  height: 50px;
  display: flex;
  align-items: center;
}

.part-1-2{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-1-3{
  height: 50px;
}

.number{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}

.pisca{
  animation-name: pisca;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.part-1-4{
  flex: 1;
  line-height: 30px;
}

.part-1-right{
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.part-1-image{
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
}

.part-1-image.small{
  width: 80%;
  font-size: 12px;
}


.part-1-image img{
  width: 100%;
}


.part-2{
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #000;
  padding-left: 10px;
}

.big-warning{
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
}

@keyframes pisca{
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}